<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HTML Sitemap">
    <link rel="stylesheet" href="stylesheet/sitemap.css">
    <title>HTML Sitemap</title>
</head>
<body>
    <h1>HTML Sitemap</h1>
    <div class="container">
        <ul>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/?fbclid=IwAR34AYUT_Py3ksia4XnxMaxOVNt1lm46CDLTFUAOTfDVCspZv3lx5ASLS20" target="_blank">Landing page</a></li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/signin" target="_blank">Login</a></li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/community" target="_blank">Community Page</a>
                <ul>
                    <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/community/createpost" target="_blank">Post</a></li>
                </ul>
            </li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/adoption" target="_blank">Adoption Page</a>
                <ul>
                    <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/adoption/createlisting" target="_blank">Create Listing</a></li>
                </ul>
            </li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/user/postprofile" target="_blank">User profile</a></li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/setting" target="_blank">Setting</a></li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/signup" target="_blank">Sign up</a></li>
            <li><a href="https://group-project-cosc3060-2024a-a-team.onrender.com/about" target="_blank">About us</a></li>
        </ul>
    </div>
    <diV>
        <h4>Please note that our website uses one way entry navigation model and the sign in is authenticated with passport JS so you'll have to log in to view the website</h4>
    </diV>
</body>
</html>
